#main-container {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
}

#Welcome-Message {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: darkgoldenrod;
}

#home-banner {
  background-image: url("./Images/mountains.mp4"); 
  /* background-color: #30ba8f; */
  width: 100vw;
  height: 100vh;
  background: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#about-info{
  background-color: aqua;
  height: 20%;

}
#info-holder{
  width:60vw;
  height: 50vh;
  border-radius: 20px;
  border: 3px solid rgb(184, 134, 11);
  position: relative;
  top:6%;
  left:6%;
}