@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
#main-container {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
}

#Welcome-Message {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: darkgoldenrod;
}

#home-banner {
  background-image: url("./Images/mountains.mp4"); 
  /* background-color: #30ba8f; */
  width: 100vw;
  height: 100vh;
  background: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#about-info{
  background-color: #30ba8f;
  height: 20%;

}
#info-holder{
  width:60vw;
  height: 50vh;
  border-radius: 20px;
  background-color: rgb(0,0,0,0.7);
  /* border: 3px solid rgb(184, 134, 11); */
  position: absolute;
  top:25%;
  left:6%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  font-family:'Roboto','sans-serif' ;
  justify-content: space-around;

}